<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
 <h1 th:text="${userId} + '\'s Profile'">Profile</h1>
 <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">
 
 		<div class="form-group">
            <label>Select your profile theme</label>
            <select th:field="*{theme}">
                <option th:each="i : ${#numbers.sequence(1, 3)}" th:value="${i}" th:text="${'Theme ' + i}"></option>
            </select>
        </div>
 
            <div class="form-group">
            <label>First Name</label>
            <input class="form-control" th:field="*{firstName}">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" th:field="*{lastName}">
        </div>

        <div class="form-group">
            <label>Email address</label>
            <input  class="form-control" th:field="*{email}">
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" th:field="*{phone}">
        </div>

        <div class="form-group">
            <label>Designation</label>
            <input class="form-control" th:field="*{designation}">
        </div>
	<div class="form-group">
            <label>Summary</label>
            <textarea class="form-control" th:field="*{summary}"></textarea>
        </div>

	<h2>Experience</h2>
	<table>
	<thead>
	<tr>
	
	<th>Company	</th>
	<th>Designation	</th>
	<th>Start Date</th>
	<th>End Date	</th>
	<th>Current job</th>

</tr><thead>
	
	<tr th:each="job,stat : *{jobs}">
	 <td><input class="form-control" th:field = "*{jobs[__${stat.index}__].company}"></td> 
	 <td><input class="form-control" th:field = "*{jobs[__${stat.index}__].designation}"></td> 
	 <td><input type ="date" class="form-control" th:field = "*{jobs[__${stat.index}__].startDate}"></td> 
	 <td><input type="date" class="form-control" th:field = "*{jobs[__${stat.index}__].endDate}"></td> 
	  <td><input class="form-check-input" type="checkbox"  th:field = "*{jobs[__${stat.index}__].currentJob}"></td>
	  <td><a th:href="@{'./delete?type=job&index='+ ${stat.index}}">Delete</a></td>
	 </tr>
	</table>
	<p><a href="./edit?add=job">Add job</a></p>
	  <h3>Education</h3>
        <table>
            <thead>
            <tr>
                <th>College</th>
                <th>Qualification</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Summary</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="education, stat: *{educations}">
                <td><input class="form-control" th:field="*{educations[__${stat.index}__].college}"></td>
                <td><input class="form-control" th:field="*{educations[__${stat.index}__].qualification}"></td>
                <td><input type="date" class="form-control" th:field="*{educations[__${stat.index}__].startDate}"></td>
                <td><input type="date" class="form-control" th:field="*{educations[__${stat.index}__].endDate}"></td>
                <td><input class="form-control" th:field="*{educations[__${stat.index}__].summary}"></td>
                  <td><a th:href="@{'./delete?type=education&index='+ ${stat.index}}">Delete</a></td>
	 </tr>
           
        </table>
        <p><a href="./edit?add=education">Add Education</a></p>

        <h3>Skills</h3>
        <table>
            <tr th:each="skill, stat: *{skills}">
                <td><input class="form-control" th:field="*{skills[__${stat.index}__]}"></td>
               <td><a th:href="@{'./delete?type=skills&index='+ ${stat.index}}">Delete</a></td>
	 </tr>
           
        </table>
       <p><a href="./edit?add=skills">Add new skill</a></p>

    <input type="submit" value="Submit">
 
 </form>
</body>
</html>